<html>

{% comment 'aclaraciones' %}
        Aca estoy creando un template padre, a partir de este se pueden crear otros mantieniendo la estructura.
        El codigo que s escriba en los block es el que pued cambiar segun la plantilla en la que estemos.
{% endcomment %}

<head>
    <title>

        {% block title %} 
        {% endblock %}

    </title>
</head>

<body>

    <h1 style = "background-color: blue; color:white; text-align: center">
        el que lea esto es alto trolo
    </h1>

     {%include "superior/barra_navegacion.html"%}

    <h2> miren snk no sean trolos </h2>

    {% block content%} {% endblock %}

    <p style = "background-color: blue; color:white; text-align: right">
        que miras gil 
    </p>

</body>
</httml>